<div class="ui masthead centered grid">
  <div class="ui text container">
    <h1 class="ui blue header">
      ahchanh
    </h1>
    <h3 class="ui blue header">
      safe and easy password hashing service
    </h3>
  </div>
</div>

<div class="ui centered grid">
  <div class="one column row">
    <div class="fourteen wide column">
      <%= form_tag("", :method => "post", :class => "ui form") do %>
        <div class="fields">
          <div class="eight wide field">
            <label>site</label>
            <%= text_field_tag(:service, @service, :placeholder => 'facebook.com, cellphone pin', :required => true) %>
          </div>
          <div class="eight wide field">
            <label>email</label>
            <%= text_field_tag(:email, @email, :placeholder => 'dr_oz@friendster.com', :required => true) %>
          </div>
        </div>
        <div class="fields">
          <div class="eight wide field">
            <label>master key</label>
            <%= password_field_tag(:master_key, @master_key, :required => true) %>
          </div>
          <div class="three wide field">
            <label>type</label>
            <%= select_tag(:password_type, options_for_select(@password_types, @password_type), :class => "ui fluid dropdown") %>
          </div>
          <div class="seven wide field">
            <label>counter</label>
            <div class="two fields">
              <div class="six wide field">
              <%= number_field_tag(:counter, @counter || 1, :required => true, :class => "number_input") %>
              </div>
              <div class="ten wide field">
              <%= submit_tag("generate", class: "fluid ui primary button") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="ui center aligned padded result segment">
        <p><%= @hint %></p>
        <% if !@password.nil? %>
          <div class="ui tertiary inverted orange segment">
              <%= @password %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui footer centered grid">
  <div class="ui centered text container">
    <p>Canruo Ying</p>
    <p>yingcanruo@gmail.com</p>
    <p>2016</p>
  </div>
</div>
