<div class="ui fluid container container-header">
  <div class="ui masthead centered grid">
    <div class="ui text container">
      <h1 class="ui blue header">
        ahchanh
      </h1>
      <h3 class="ui blue header">
        safe and easy password generation service
      </h3>
    </div>
  </div>
</div>

<div class="ui fluid container container-content">
  <div class="ui centered grid grid-content">
    <div class="one column row">
      <div class="fourteen wide column">
        <%= form_tag("", :method => "post", :class => "ui form") do %>
          <div class="two fields">
            <div class="eight wide field">
              <label>site</label>
              <%= text_field_tag(:service, @service, :placeholder => 'facebook.com, cellphone pin', :required => true) %>
            </div>
            <div class="eight wide field">
              <label>username</label>
              <%= text_field_tag(:email, @email, :placeholder => 'dr_oz@friendster.com', :required => true) %>
            </div>
          </div>
          <div class="three fields">
            <div class="eight wide field">
              <label>master key</label>
              <%= password_field_tag(:master_key, @master_key, :required => true, id: 'master_key') %>
            </div>
            <div class="three wide field">
              <label>type</label>
              <%= select_tag(:password_type, options_for_select(@password_types, @password_type), class: "fluid") %>
            </div>
            <div class="five wide field">
              <label>counter</label>
              <div class="two fields">
                <div class="eight wide field">
                  <%= number_field_tag(:counter, @counter || 1, :required => true, :class => "number_input", :min => "1") %>
                </div>
                <div class="eight wide field">
                <%= submit_tag("generate", class: "fluid ui primary button") %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="one column row">
      <div class="fourteen wide column">
        <div class="ui center aligned inverted blue padded segment">
          <p><%= @hint %></p>
          <% if !@password.nil? %>
          <div id="password_container" class="ui center aligned inverted orange padded segment">
            <div class="ui left labeled button" tabindex="0">
              <a class="ui basic right pointing label">
                <%= @password %>
              </a>
              <div id="copy_button" class="ui button" data-clipboard-text="<%= @password %>">
                <i class="clone icon"></i> copy
              </div>
            </div>
            <br>
            <div class="ui checked checkbox">
              <input type="checkbox" id="clear_page_checkbox" checked="">
              <label style="color:white">clear the password from the browser after pressing the copy button</label>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui fluid container container-footer">
  <div class="ui footer centered grid">
    <div class="ui centered text container">
      <p>Canruo Ying</p>
      <p>yingcanruo@gmail.com</p>
      <p>2016</p>
    </div>
  </div>
</div>

<script>
  // Dropdown

  $('#password_type').dropdown();

  // Popup

  function setTooltip(message) {
    $('#copy_button')
      .popup({
        on        : 'click',
        position  : 'bottom left',
        })
      .attr('data-content', message)
      .popup('show');
      setTimeout(function() {
      $('#copy_button')
        .popup('hide');
    }, 500);
  }

  function clearPassword() {

    setTimeout(function() {
      var child = document.getElementById("password_container");
      var parent = child.parentNode;
      parent.removeChild(child);
      $("#master_key").val("");
    }, 1000);
  }

  // Clipboard

  var clipboard = new Clipboard('#copy_button');

  clipboard.on('success', function(e) {
    setTooltip('Copied!');
    if (document.getElementById("clear_page_checkbox").checked)
    clearPassword();
  });

  clipboard.on('error', function(e) {
    setTooltip('Failed!');
  });

</script>